body {
  font-family: Lato, "Helvetica Neue", Helvetica;
  font-weight: 200;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200;
}

:root {
  --my-blue: rgb(43, 156, 212);
  --my-red: rgb(212, 100, 100);
  --my-orange: rgb(249, 182, 118);
  --my-green: rgb(43, 212, 156);
}

h1 {
  text-align: center;
}

#area {
  position: relative;
  /*border: 10px solid var(--my-blue); */
  width: 100vw;
  height: 100vh;
}

.wrapper {
  position: fixed;
  width: 25vh;
  height: 25vh;
  background: "red";
}

.output {
  position: absolute;
  top: 45%;
  /*display: none;*/
  font-family: Menlo, Courier;
  font-weight: 200;
  width: 20vw;
}

#one {
  left: 15%;
}

#two {
  right: 15%;
}

.output:focus {
  outline: none !important;
  border: 1px solid var(--my-blue);
}

.halo {
  position: fixed;
  /* left: 40vw; */
  /* top: 40vh; */
  --dimension: 25vh;
  width: var(--dimension);
  height: var(--dimension);
  /* margin: 20px auto; */
}

.button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  border-radius: calc(var(--dimension) / 2);
  opacity: 0.7;
  font-size: 4vh;
  text-align: center;
}

.halo-piece {
  background-color: var(--my-blue);
  color: white;
}

.button:hover {
  opacity: 1;
}

.backspace,
.clear {
  position: fixed;
}

.backspace {
  display: none;
  background-color: var(--my-orange);
}

.clear {
  display: none;
  background-color: var(--my-red);
}

.done {
  display: none;
  background-color: var(--my-green);
  color: white;
  opacity: 0.5;
  /*position: fixed;*/
}

input[type="text"] {
  margin: 0px;
  font-size: 16px;
}
